<?xml version="1.0"?>
<!--
    moveit_init.launch: Initialize moveit_init
    Note: Keep running this file in a seperate tab forever.
    Requirements: No requirements needed
    Author: Caleb Blondell, credit to Ravi Joshi for the base of this.
    Date: 4/11/2025
-->
<launch>
    <arg name="config" default="true"/>
    <arg name="rviz_config" default="$(find baxter_moveit_config)/launch/moveit.rviz"/>

    <!-- By default we do not overwrite the UDRF. Change the following to true to change the default behavior -->
    <arg name="load_robot_description" default="false"/>

    <!-- 
        Left and right gripper params. Set to true to check collisions for their links. 
        Since we are using a pneumatic gripper on the left hand, we do not check for collision for the electric gripper. 
    -->
    <arg name="right_electric_gripper" default="true"/>
    <arg name="left_electric_gripper" default="false"/>

    <!-- Set the kinematic tips for the left_arm and right_arm move_groups -->
    <arg name="left_tip_name" default="left_gripper"/>
    <arg name="right_tip_name" default="right_gripper"/>
    <include file="$(find baxter_moveit_config)/launch/planning_contextlaunch">
        <arg name="load_robot_description" value="$(arg load_robot_description)"/>
        <arg name="left_electric_gripper" value="$(arg left_electric_gripper)"/>
        <arg name="right_electric_gripper" value="$(arg right_electric_gripper)"/>
        <arg name="left_tip_name" value="$(arg left_tip_name)"/>
        <arg name="right_tip_name" value="$(arg right_tip_name)"/>
    </include>

    <include file="$(find baxter_moveit_config)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true"/>
    </include>

    <include file="$(find baxter_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="$(arg config)"/>
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>

    <!-- Baxter provided utility-->
    <node name= "joint_trajectory_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" output="screen" />
</launch>